<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin Profile</h2>
            <h4>admin@gmail.com</h4>
        </div>
        <img src="../../../../assets/sample.jpg" alt="" srcset="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/register">Registered</a>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/personal">Personal Details</a>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/payment">Payment</a>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/posts">Posts</a>
    <mat-divider></mat-divider>
    <h2 matSubheader> Tools </h2>
    <a mat-list-item routerLinkActivate="list-item-activate" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

</mat-nav-list>

